<?xml version="1.0" encoding="utf-8"?>
<!-- https://go.microsoft.com/fwlink/?LinkID=208121. -->
<Project>
  <PropertyGroup>
    <AccountUsername>borabuachando220429@daystar.ac.ke</AccountUsername>
    <ApiMToolType>SwashBuckle</ApiMToolType>
    <ApiSpecificationFile>swagger.json</ApiSpecificationFile>
    <AzureServiceName>WorknestServicesIdentity</AzureServiceName>
    <AzureServiceResourceGroup>ProjectManagement-EP</AzureServiceResourceGroup>
    <AzureServiceResourceId>/subscriptions/ce095f75-51bd-4170-a577-a476f9820d8f/resourcegroups/ProjectManagement-EP/providers/Microsoft.Web/sites/WorknestServicesIdentity</AzureServiceResourceId>
    <AzureServiceResourceType>Microsoft.Web/sites</AzureServiceResourceType>
    <AzureServiceSubscriptionId>ce095f75-51bd-4170-a577-a476f9820d8f</AzureServiceSubscriptionId>
    <AzureServiceSubscriptionName>Azure for Students</AzureServiceSubscriptionName>
    <AzureWebSite>/subscriptions/ce095f75-51bd-4170-a577-a476f9820d8f/resourcegroups/ProjectManagement-EP/providers/Microsoft.Web/sites/WorknestServicesIdentity (Microsoft.WebTools.Azure.Client.Entities.Website)</AzureWebSite>
    <DotNetCoreVersion>8.0.x</DotNetCoreVersion>
    <DotNetVersionSupportDisposition>FullySupported</DotNetVersionSupportDisposition>
    <DoNotUseSPN>true</DoNotUseSPN>
    <GitWorkflowCredentialsHandlerId>WebSite</GitWorkflowCredentialsHandlerId>
    <GitWorkflowFactoryId>appServiceApiMGitHubWorkflowFactory</GitWorkflowFactoryId>
    <GitWorkflowTemplatePath>workflows/github/azureAppServiceApiMWindows.yml</GitWorkflowTemplatePath>
    <IsLinuxAzureService>false</IsLinuxAzureService>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <ProjectName>Worknest.Services.Identity</ProjectName>
    <ProjectOutputPath>publish</ProjectOutputPath>
    <ProjectPath>Worknest.Services.Identity</ProjectPath>
    <SiteUrlToLaunchAfterPublish>https://worknestservicesidentity-ebcrbwetgfaabzdp.uaenorth-01.azurewebsites.net</SiteUrlToLaunchAfterPublish>
    <SwashBuckleAspNetCoreCliVersion>8.1.1</SwashBuckleAspNetCoreCliVersion>
    <SwashBuckleDotNetCoreVersion>8.x</SwashBuckleDotNetCoreVersion>
    <TargetFrameworks>System.Collections.Generic.List`1[System.String]</TargetFrameworks>
    <TenantId>9e0b4f65-b964-4f79-b702-80e3ce0e5811</TenantId>
  </PropertyGroup>
</Project>